#main-nav {
    background-color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    min-height: 60px;
}

.navbar-nav li{
    font-weight: 300;
    padding: 5px;
}

.navbar-nav li:last-child {
    margin-right: 20px;
}

#title {
    padding-top:10%;
	background-image: url("../img/jumbotron_alt.jpg");
	background-position: right 30%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    padding-bottom: 20%;
}

#title h1{
	color: white;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5rem;
    margin-top: 20rem;
    font-family: "josefin sans";
    text-shadow: 0px 0px 10px black ;
}

#title p{
    text-align: center;
    margin-top: 10rem;
}

.content{
    margin-top: 80px;
}

.about{
    margin-bottom: 1rem;
}


.officers .row{
    padding-top: 1rem;
}

.img > .profile{
    display: block;
    height: 100%;
    width: auto;
}

.profile-right h3, .profile-right h4 {
    text-align: right;
}


.button{
    padding: 15px 50px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition: color .5s ease-out, background .5s ease-in; 
}

.button:hover {
	background-color: white;
    color: #111 ;
	cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, div{
    font-family: "raleway";
}

.footer {
  padding-top: 4rem;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #2B3856;
  padding-bottom: 3rem;
}

.social {
    padding: .5rem 1rem;
    color: #fff;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background .2s ease-in; 
}

.footer p {
  text-align: center;

}




