#main-nav {
    background-color: #333;
    font-size: 14px;
    border-bottom: 3px solid #961E3C;
}

#main-nav .logo {
    padding: 0;
}

#main-nav img{
    height: 100%;
    margin-left: 15px;
    margin-top: 5px;
}

.navbar-nav li{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;   
    -o-transition: color .2s ease-out, background .7s ease-in;
    -ms-transition: color .2s ease-out, background .7s ease-in;
    -moz-transition: color .2s ease-out, background .7s ease-in;
    -webkit-transition: color .2s ease-out, background .7s ease-in;
    transition: color .5s ease-out, background .7s ease-in;
}

.navbar-default .navbar-nav>li>a {
    color: #dabd92;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #dabd92;
}

.navbar-nav li:hover{
    background: #961E3C;
    cursor: pointer;
    font-weight: 500;
    color: #dabd92 !important;
}

.navbar-nav li:last-child {
    margin-right: 20px;
}

#title {
/*	background-image: url("../img/jumbotron_alt.jpg");*/
    background: linear-gradient( rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7) ), url("../img/jumbotron_alt.jpg");
	  background-position: right 30%;
    padding-top: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
/*    height: auto;*/
    padding-bottom: 15%;
}

#title h1{
	color: #dabd92;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 6vw;
    margin-top: 15vw;
    font-family: "Playfair Display";
    
/*    spacing    */
    margin-bottom: 5vw;
    
/*    text-shadow: 0px 0px 5px #ababab ;*/  
}

#title h2{
    text-align: center;
    color: #dabd92;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 8vw;
    
/*    spacing   */
    margin-top: 5vw;
}

#title h3 {
    font-family: "Libre Baskerville";
    font-style: italic;
    color: #dabd92;
    text-align: center;
    font-size: 3vw;
}

#title .space{
    height: 1.5rem;
}

#title hr {
    width: 20%;
    background-color:#dabd92;
    height: 4px;
    border-color: none;
}

#title .one{
    margin-left: 80%;
}

#title .two{
    margin-right: 80%;
}

#title p{
    text-align: center;
    margin-top: 10rem;
}

.content{
    margin-top: 80px;
}

.about{
    margin-bottom: 1rem;
}


.officers .row{
    padding-top: 1rem;
}

.img > .profile{
    display: block;
    height: 100%;
    width: auto;
}

.profile-right h3, .profile-right h4 {
    text-align: right;
}


.button{
    padding: 15px 50px;
    border: 3px solid #dabd92;
    color: #dabd92;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in; 
    -o-transition:border .2s ease-out, background 1s ease-in;
    -ms-transition:border .2s ease-out, background 1s ease-in;
    -moz-transition:border .2s ease-out, background 1s ease-in;
    -webkit-transition:border .2s ease-out, background 1s ease-in;
    transition: border .2s ease-out, background 1s ease-in; 
}

.button:hover {
/*	background-color: #fff;*/
    color: #f3525a ;
	  cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    border: 3px solid #f3525a;
}

h1, h2, h3, h4, h5, h6, p, div{
    font-family: "raleway";
}

.footer {
  padding-top: 4rem;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #333;
  padding-bottom: 3rem;
}

.social {
    padding: .5rem 1rem;
    color: #fff;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background .2s ease-in; 
}

.footer p {
  text-align: center;
}




