#main-nav {
    background-color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    min-height: 60px;
}

.navbar-nav li{
    font-weight: 300;
    padding: 5px;
}

.navbar-nav li:last-child {
    margin-right: 20px;
}

#title {
/*	background-image: url("../img/jumbotron_alt.jpg");*/
    background: linear-gradient( rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7) ), url("../img/jumbotron_alt.jpg");
	  background-position: right 30%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    padding-bottom: 10%;
    margin-bottom: 2%;
}

#title h1{
	color: #dabd92;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 8rem;
    margin-top: 17rem;
    font-family: "Playfair Display";
    
/*    spacing    */
    margin-bottom: 6rem;
    
/*    text-shadow: 0px 0px 5px #ababab ;*/  
}

#title h2{
    text-align: center;
    color: #dabd92;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 10rem;
    
/*    spacing   */
    margin-top: 6rem;
}

#title h3 {
    font-family: "Libre Baskerville";
    font-style: italic;
    color: #dabd92;
    text-align: center;
    font-size: 4rem;
}

#title .space{
    height: 1.5rem;
}

#title hr {
    width: 20%;
    background-color:#dabd92;
    height: 4px;
    border-color: none;
}

#title .one{
    margin-left: 80%;
}

#title .two{
    margin-right: 80%;
}

#title p{
    text-align: center;
    margin-top: 10rem;
}

.button{
    padding: 15px 50px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition: color .5s ease-out, background .5s ease-in; 
}

.button:hover {
	background-color: white;
    color: #111 ;
	cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, div{
    font-family: "raleway";
}

.footer {
  padding-top: 4rem;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #2B3856;
}

.social {
    padding: .5rem 1rem;
    color: #fff;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background .2s ease-in; 
}

.footer p {
  text-align: center;
}


